body{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  margin: 0;

}
.all{
  word-wrap: break-word;
  width: 100%;
  max-width: 1900px;
  min-width: 300px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  
  
}
.img {
  height: 10%;
  width: 10%;
  border-radius: 10px;
 
}
.warning{
  height: 10%;
  width: 10%;
  border-radius: 10px;
  height: 3%;
  width: 3%;
}
.top{
  height: 20%;
  width: 100%;
  text-align: left;
  margin:0 auto;
  color: red;
  font-size: 100%;
  
}

.inputName {
  text-align: center;
  height: 50%;
  width: 36%;
  margin: auto;
  padding: 2px 0 2px 0;
  background-color: rgba(83,83,83,0.8);
  color: white;
}
.input { 
  height: 90%;
  width: 60%;
  padding: 4px 6px;
  font-size: 11px;
  display: inline-block;
  line-height: 20px;
  outline: none;
  color: #555555;  
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

.content{
  width: 50%;
  height: 500px;
  margin: auto;
  padding: 5px 5% 5px 5%;
  background-color: rgba(83,83,83,0.8);
}
.chatBox{
  text-align: left;
  background-color: rgba(83,83,83,0.7);
  overflow: auto;
  width: 100%;
  height: 80%;
  margin: auto;
}
.inputMessage{
  font-size: 100%;
  padding-top: 2%;
  text-align: left;
  width: 95%;
  margin: auto;
  height: 15%;
  text-align: left;
  font-weight: 600;
  color: #C4C4C4;
}
.inputMessageEdit{
  font-size: 100%;
  padding-top: 2%;
  text-align: left;
  width: 95%;
  margin: auto;
  height: 15%;
  text-align: left;
  font-weight: 600;
  color: #C4C4C4;
}
#current{
  word-wrap: break-word;
  width: 50%;
  height: 30%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 17px;
  color: #E667AF;
  font-weight: 900;
  float: left;  
  clear: both;
}

.add {
  padding-top: 5px;
  width: 95%;
  height: 50%; 

}
.add #fieldMessage{

  height: 90%;
  width: 70%;
  font-size: 11px;
  display: inline-block;
  line-height: 20px;
  outline: none;
  color: #555555;  
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece{
  background-color: #ffffff;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical{
  height: 5px;
  background-color: #E667AF;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal{
  width: 5px;
  background-color: #E667AF;
  -webkit-border-radius: 5px;
}

.items {
  width: 95%;
  padding-left: 0;
  margin-top: 0; 

  padding-top: 8px;
}

.item {
  font-size: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 70%;
  text-align: left;
  padding: 7px;
  border: 0;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  background-color: rgba(83,83,83, 0.8);
  color: #FFF;
  word-wrap: break-word;
  float: left;
  clear: both;
  box-shadow:
  5px 5px 5px rgba(0,0,0,0.4);
}
.changeButton{
  width: 30%;
  height: 95%;
  padding: 6px 16px 7px 16px;
  font-size: 70%;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  line-height: 13px;
  background-color: #E667AF;
  color: #FFF;
  border: 0;
  border-radius: 2px;
}
.changeButton:hover{
  box-shadow:
 0px 1px 1px rgba(255,255,255,0.8) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

.mesButton{
 
  padding: 6px 16px 7px 16px;
  font-size: 70%;
  line-height: 13px;
  background-color: rgba(83,83,83,0.1);
  color: #FFF;
  border: 0;
  border-radius: 2px;
  width: 70px;
  height:30px;
  background-image: url(../images/enter.png);
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans; 
}
.mesButton:hover{
  box-shadow:
 0px 1px 1px rgba(255,255,255,0.8) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}
.del{
  width: 20px;
  height: 20px;
  background-image: url(../images/delete.png);
  background-size: cover;
  padding: 6px;
  margin: 5px;
  font-size: 11px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  line-height: 13px;
  background-color: rgba(83,83,83,0);
  color: #FFF;
  border: 0;
  border-radius: 2px;

}
.del:hover {
  box-shadow:
 1px 1px 1px rgba(255,255,255,0.4) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

.del:active {
 box-shadow:
 0px 0px 1px rgba(0,0,0,0.5) inset,
 3px 3px 5px rgba(0,0,0,0.5);
}
.edit{
  width: 20px;
  height: 20px;
  margin: 5px;
  background-image: url(../images/edit.png);
  background-size: cover;
  padding: 6px;
  font-size: 11px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  line-height: 13px;
  background-color: rgba(83,83,83,0);
  color: #FFF;
  border: 0;
  border-radius: 2px;
}
.edit:hover {
  box-shadow:
 1px 1px 1px rgba(255,255,255,0.4) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

.edit:active {
 box-shadow:
 0px 0px 1px rgba(0,0,0,0.5) inset,
 3px 3px 5px rgba(0,0,0,0.5);
}
.inputEdit{
  font-size: 100%;
  text-align: left;
  margin: auto;
  padding: 2% 0 0 2%;
  width: 85%;
  height: 10%;
  text-align: left;
  font-weight: 600;
  color: #C4C4C4;
}
.cancel{
  width: 20px;
  height: 20px;
  margin: 5px;
  background-image: url(../images/cancel.png);
  background-size: cover;
  padding: 6px;
  font-size: 11px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  line-height: 13px;
  background-color: rgba(83,83,83,0);
  color: #FFF;
  border: 0;
  border-radius: 2px;
}
.cancel:hover {
  box-shadow:
 1px 1px 1px rgba(255,255,255,0.4) inset,
 1px 1px 1px rgba(0,0,0,0.4);
}

.cancel:active {
 box-shadow:
 0px 0px 1px rgba(0,0,0,0.5) inset,
 3px 3px 5px rgba(0,0,0,0.5);
}
.time {
  
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px;
  color: white;
  font-weight: 600;
  padding-left: 7px; 
  clear: both;
  display: inline-block;
  float: left;  


}
.myName {
  width: auto;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 17px;
  padding-left: 7px; 
  color: white;
  font-weight: 900;
  float: left;  
  display: inline-block;
  clear: both;
}
.textMessage{
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  float: left; 
}

.deletedMes {
  text-align: left;
  padding: 7px;
  border: 0;
  border-radius: 10px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 30%;
  margin-left: 1%;
  background-color: rgba(50,50,50, 0.8);
  color: white;
  word-wrap: break-word;
  float: left;
  clear: both;
  box-shadow:
  5px 5px 5px rgba(0,0,0,0.4);
}
.delText{
  
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 13px;
  color: #E667AF;
  font-weight: 600;
  float: left;  
  
}
.editText{
  
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px;
  color: #E667AF;
  font-weight: 600;
  float: left;  
  
}

li {
  list-style-type: none;
}
.podval{
  height: 20%;
  width: 100%;
  text-align: left;
  margin:0 auto;
  padding-left: 20%;
  font-size: 300%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}
